[mcu cartographer] # See https://www.klipper3d.org/Config_Reference.html#mcu
# Remove either the serial or canbus_uuid line dependant on your setup.
#serial: <blank>
canbus_uuid: 383375b927a0
#restart_method: command # Not needed for probes using CAN. 

[cartographer]
mcu: cartographer
#x_offset: 0. # This is the offset of your probe from the nozzle tip, to the centre of the coil.
#y_offset: 21.1 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: no # For extra output

#speed: 40.
# Z probing dive speed.
lift_speed: 5.
# Z probing lift speed.
#backlash_comp: 0.5
# Backlash compensation distance for removing Z backlash before measuring
# the sensor response.
x_offset: 0.
# X offset of cartographer from the nozzle.
y_offset: 21.1
# Y offset of cartographer from the nozzle.
#trigger_distance: 2.
# cartographer trigger distance for homing.
#trigger_dive_threshold: 1.5
# Threshold for range vs dive mode probing. Beyond `trigger_distance +
# trigger_dive_threshold` a dive will be used.
#trigger_hysteresis: 0.006
# Hysteresis on trigger threshold for untriggering, as a percentage of the
# trigger threshold.
#cal_nozzle_z: 0.1
# Expected nozzle offset after completing manual Z offset calibration.
cal_floor: 0.1
# Minimum z bound on sensor response measurement.
cal_ceil:5.
# Maximum z bound on sensor response measurement.
cal_speed: 1.0
# Speed while measuring response curve.
cal_move_speed: 10.
# Speed while moving to position for response curve measurement.
default_model_name: default
# Name of default cartographer model to load.
mesh_main_direction: x
# Primary travel direction during mesh measurement.
#mesh_overscan: -1
# Distance to use for direction changes at mesh line ends. Omit this setting
# and a default will be calculated from line spacing and available travel.
mesh_cluster_size: 1
# Radius of mesh grid point clusters.
mesh_runs: 2
# Number of passes to make during mesh scan.

[cartographer scan]
probe_speed: 5
#   Speed (in mm/s) of the Z axis when probing.
#   The default is 5.
#   Minimum value is 0.1.
mesh_runs: 1
#   Number of runs when doing a scan mesh. Consecutive runs will trace back
#   the way it came from.
#   The default is 1.
mesh_height: 3
#   The height (in mm) of the head when doing a mesh run.
#   The default is 3.
#   Minimum value is 1.
mesh_direction: x
#   Axis of which to do the most moves along.
#   The default is 'x'.
#   Allowed values: 'x', 'y'.
mesh_path: snake
#   The path to use when calibrating a scan mesh.
#   The default is 'snake'.
#   Allowed values: 'snake', 'alternating_snake', 'spiral', 'random'.

[cartographer touch]
samples: 3
#   The number of samples to use when doing a touch.
#   The default is 3.
#   Minimum value is 3.
max_samples: 10
#   The maximum number of samples to do before giving up.
#   The default is 10.
#UNSAFE_max_touch_temperature: 150
#   The maximum allowed nozzle temperature to use when touching the plate.
#   This is set to 150C to avoid damaging your plate. Change this AT YOUR
#   OWN RISK.
#   The default is 150.
EXPERIMENTAL_home_random_radius: 5.0
#   Radius around the Z home position to do touch.
#   The default is 0.0.
#   Minimum value is 0.0.
retract_distance: 2.0
#   Retract distance (in mm) between touch samples.
#   The default is 2.0.
#   Minimum value is 1.0.
sample_range: 0.01
#   Acceptable range (in mm) between touch samples.
#   The default is 0.01.
#   Must be between 0.001 and 0.015.

[bed_mesh]
zero_reference_position: 175, 175 # The centre of your bed. 
speed: 300
horizontal_move_z: 3
mesh_min: 35, 28 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
mesh_max: 315, 320 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

[cartographer coil]
name: cartographer_coil
#   The name of the coil temperature sensor.
#   The default is 'cartographer_coil'.
min_temp: 0
#   The minimum temperature of the coil, below this will trigger a warning.
#   The default is 0.
#   Minimum value is -273.15.
max_temp: 105
#   The maximum temperature of the coil, above this will trigger a warning.
#   The default is 105. 

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[adxl345]
# Select 1 of the cs_pin below depending on the probe you have. 
# Having the wrong one selected will cause an Endless Bootloop
# Cartographer V4 has int2 connected to the probes PA1 pin
#cs_pin: cartographer:PA3 # For Cartographer V3
cs_pin: cartographer:PA0 # For Cartographer V4
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 20 # Fill out the blank with x and y coordinates where you want to run the resonance test.