[stepper_z]
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0

[mcu cartographer] # See https://www.klipper3d.org/Config_Reference.html#mcu
# Remove either the serial or canbus_uuid line dependant on your setup.
#serial: <blank>
canbus_uuid: 383375b927a0
#restart_method: command # Not needed for probes using CAN. 

[cartographer]
mcu: cartographer
x_offset: 0. # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 21.1 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: no # For extra output

#[cartographer scan]
#   Speed (in mm/s) of the Z axis when probing.
#   Constraints: minimum: 0.1
#probe_speed: 5
#   Number of runs when doing a scan mesh. Consecutive runs will trace back the way it came from.
#mesh_runs: 1
#   The height (in mm) of the head when doing a mesh run.
#   Constraints: minimum: 1
#mesh_height: 3
#   Axis of which to do the most moves along.
#   Allowed values: x, y
#mesh_direction: 'x'
#   The path to use when calibrating a scan mesh.
#   Allowed values: snake, alternating_snake, spiral, random
#mesh_path: 'snake'

#[cartographer touch]
#   The number of samples to use when doing a touch.
#   Constraints: minimum: 3
#samples: 3
#   The maximum number of samples to do before giving up.
#max_samples: 10
#   The number of noisy samples tolerated within the sliding window. The window size is calculated as samples + max_noisy_samples. A smaller value prevents cherry-picking good samples from a noisy sequence.
#   Constraints: minimum: 0
#max_noisy_samples: 2
#   The maximum allowed nozzle temperature to use when touching the plate. This is set to 150C to avoid damaging your plate. Change this AT YOUR OWN RISK.
#UNSAFE_max_touch_temperature: 150
#   Radius around the Z home position to do touch.
#   Constraints: minimum: 0.0
#EXPERIMENTAL_home_random_radius: 0.0
#   Retract distance (in mm) between touch samples.
#   Constraints: minimum: 1.0
#retract_distance: 2.0
#   Acceptable range (in mm) between touch samples.
#   Constraints: minimum: 0.001, maximum: 0.015
#sample_range: 0.01

[bed_mesh]
zero_reference_position: 175, 175 # The centre of your bed. 
speed: 200
horizontal_move_z: 3
mesh_min: 35, 28 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
mesh_max: 315, 320 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
probe_count: 30, 30
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough
algorithm: bicubic

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[adxl345]
# Select 1 of the cs_pin below depending on the probe you have. 
# Having the wrong one selected will cause an Endless Bootloop
# Cartographer V4 has int2 connected to the probes PA1 pin
#cs_pin: cartographer:PA3 # For Cartographer V3
cs_pin: cartographer:PA0 # For Cartographer V4
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 20 # Fill out the blank with x and y coordinates where you want to run the resonance test.

[cartographer coil]
#   The name of the coil temperature sensor.
name: 'cartographer_coil'
#   The minimum temperature of the coil, below this will trigger a warning.
#   Constraints: minimum: -273.15
min_temp: 0
#   The maximum temperature of the coil, above this will trigger a warning.
max_temp: 105