[mcu scanner]
canbus_uuid: 383375b927a0 
#serial: /dev/serial/by-id/usb-cartographer_cartographer_
#    adjust to suit your scanner, if using usb change to serial

[scanner]
mcu: scanner            
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
x_offset: 0.                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 21.1                         
#    adjust for your cartographers offset from nozzle to middle of coil
backlash_comp: 0.00760
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc      
mesh_runs: 2
#    Number of passes to make during mesh scan.
#Extra Parametri
speed: 5.0
lift_speed: 5.0
mesh_main_direction: x
probe_speed: 5.0
samples: 5
samples_retract_dist: 5.0
samples_tolerance: 0.2
samples_tolerance_retries: 4
samples_result: median  #Available Options: median or average
#z_hop_dist: 5.0
z_hop_speed: 5.0
mode: touch    #Available options: touch or scan
trigger_distance: 2.0
trigger_dive_threshold: 1.5
trigger_hysteresis: 0.006
z_settling_time: 5
scanner_touch_accel: 100
scanner_touch_max_speed: 10
scanner_touch_speed: 3
scanner_touch_retract_dist: 2
scanner_touch_retract_speed: 10
scanner_touch_sample_count: 3
scanner_touch_tolerance: 0.01
scanner_touch_max_retries: 10
scanner_touch_move_speed: 50
scanner_touch_z_offset: 0.05
scanner_touch_max_temp: 150
scanner_touch_threshold: 2000 #2500


[bed_mesh]
zero_reference_position: 175, 175    
#    set this to the middle of your bed
speed: 200
#    movement speed of toolhead during bed mesh
horizontal_move_z: 5
#    height of scanner during bed mesh scan
mesh_min: 35, 28
#    start point of bed mesh [X, Y]
mesh_max: 315, 320
#    end point of bed mesh [X, Y]
probe_count: 30, 30
algorithm: bicubic

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: scanner
min_temp: 0
max_temp: 105

[adxl345]
# Select 1 of the cs_pin below depending on the probe you have. 
# Having the wrong one selected will cause an Endless Bootloop
# Cartographer V4 has int2 connected to the probes PA1 pin
#cs_pin: cartographer:PA3 # For Cartographer V3
cs_pin: scanner:PA0 # For Cartographer V4
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 20 # Fill out the blank with x and y coordinates where you want to run the resonance test.